<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="side-navigation" mode="side" >
      <!-- logo -->
    <div class="organization-logo">
      <p><strong>Bangtur</strong>studio</p>
    </div>
    <!-- navigation -->
    <div class="menu-navigation">
      <h4 class="menu-link active" (click)="click()" style="padding: 10px">
        <mat-icon> home </mat-icon>
        Dashboard
      </h4>
      <h4 class="menu-link " (click)="click()" style="padding: 10px">
        <mat-icon> edit </mat-icon>
        Posts
      </h4>
    </div>
    <!-- footer -->
    <div class="menu-footer" (click)="logout()">
        <h4 class="menu-link">
            <mat-icon>
                logout
            </mat-icon>
            Logout
        </h4>

    </div>
  </mat-drawer>

  <!-- content -->
  <div class="side-navigation-content">
      <div class="side-navigation-header">
        <button type="button" mat-button (click)="drawer.toggle()" >
            <mat-icon> menu </mat-icon>
            Menu
          </button>

          <div class="right-align-navigation">
            <button mat-button > 
                <mat-icon> notifications </mat-icon>
              </button>
          </div>

          
              
         
      </div>

    <app-header></app-header>
    <app-dashboard></app-dashboard>
  </div>
</mat-drawer-container>
